*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        background-image: url(bg.jpg);
        background-repeat: no-repeat;
       background-size: 100% 100vh;
        color: white;
        background-attachment:fixed;
    }
    header{
        background-color: rgba(7, 7, 7, 0.933);
        display: flex;
        position: sticky;
        top:0;
        border:2px solid whitesmoke;
    }
h2{
    color: pink;
    width:100vw;
    padding:10px;
    text-align:center;
}

.slider{
      background-image: url("https://source.unsplash.com/random/900x700/?Ganesh");
      background-repeat: no-repeat;
      background-size: cover;
     background-position: center center;
     margin-top: 2%;
      height: 90vh;
      width: 100vw;
      border:2px solid whitesmoke;
  }
